body {
	background: url("logo.jpg"); 
}
h1 {
	font-style: bold;
	text-align: right;
	text-decoration: underline;
	text-transform: capitalize 
	color: #00FFFF;
}
h3 {
	text-align: center;
	text-decoration: none;
	color: #00FFFF;
}
h4	{
	text-align: center;
	text-decoration: none;
	color: #00FFFF;
}
h5	{
	color: #00FFFF;
	text-align: center;
}